#macro(htmlheaderStart $url)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <title>Title</title>
        <link rel="stylesheet" href="$url/res/stiil.css" />
        <link rel="stylesheet" href="$url/res/datepick.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script>
        <script src="$url/res/datepick.js"></script>
        <script>
            $(function() {
                $('#popupDatepicker').datepick();
            });
            $(function() {
                $('.popupDatepicker').datepick();
            });
        </script>

#end

#macro(htmlheaderEnd)
    </head>
    <body>
#end

#macro(navigation $notMain $url)
    #if($notMain)
        <div class="left"><a href="$url/index.html">&#171;&nbsp;#lang("main_page")</a></div>
    #end
    <div class="right"><a href="?lang=et"><img src="$url/res/flag_estonia.png" width="24" height="24" alt="Eesti keeles" /></a>&nbsp;<a href="?lang=en"><img src="$url/res/flag_great_britain.png" width="24" height="24" alt="In english" /></a></div>
    <div class="clear"></div>
    <div class="navigation">&nbsp;</div>
#end

#macro(htmlfooter)
    </body>
</html>
#end

#macro(lang $var)
    $springMacroRequestContext.getMessage($var)
#end