<p>Greetings, it is now ${now}

    Tee objekti liik:
    <form action="/objekti_liik.html" method="POST">
    <label for="nimetus">Nimetus: </label><input name ="nimetus" id ="nimetus">
    <input type="submit" value="Submit" />
    </form>