#htmlheader()
        <div style="float:left;">
            <form action="/piiririkkuja.html" method="POST" id="userdata">
                <div style="padding: 7px;">
                    <div class="form_title"><label for="isikukood">Isikukood</label></div>
                    <div class="left"><input type="text" name ="isikukood" id ="isikukood"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="eesnimi">Eesnimi</label></div>
                    <div class="left"><input type="text" name ="eesnimi" id ="eesnimi"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="perek_nimi">Perekonnanimi</label></div>
                    <div class="left"><input type="text" name ="perek_nimi" id ="perek_nimi"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="synniaeg">Sünniaeg</label></div>
                    <div class="left"><input type="text" name ="synniaeg" id ="synniaeg"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="sugu">Sugu</label></div>
                    <div class="left">
                        <select class="form_item" name ="sugu" id ="sugu">
                            <option name="m">Mees</option>
                            <option name="n">Naine</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="komm">Kommentaar</label></div>
                    <div class="left"><textarea class="form_item" style="height: 80px;" name ="kommentaar" id ="komm"></textarea></div>
                    <div class="clear"></div>
                </div>

                <input name ="objekt_ID" type="hidden" value="10">
                <input name ="avaja" type="hidden" value="Jarko Kasemaa">
                <input name ="avatud" type="hidden" value="19/11/2011">
                <input name ="muutja" type="hidden" value="Marko Jasemaa">
                <input name ="muudetud" type="hidden" value="19/11/2011">
                <input name ="suletud" type="hidden" value="19/11/2011">
                <input name ="sulgeja" type="hidden" value="Ants Sulgurlihas">
                <input name ="nimetus" type="hidden" value="Nimeta Baar">
            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="kodakondsused">
                Kodakondsused
                <table class="piiririikuja1">
                    <tr>
                        <th class="left">Riik</th>
                        <th class="right">Isikukood</th>
                    </tr>
                    <tr>
                        <td class="left">EST</td>
                        <td class="right">
                            <div class="left">123456789</div>
                            <div class="right">
                                <form>
                                    <input type="submit" name="action" value="Muuda">
                                    <input type="submit" name="action" value="Kustuta">
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">RUS</td>
                        <td class="right">
                            <div class="left">987654321</div>
                            <div class="right">
                                <form>
                                    <input type="submit" name="action" value="Muuda">
                                    <input type="submit" name="action" value="Kustuta">
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                    <input type="button" onclick="document.forms['userdata'].submit();" value="Lisa">
                        </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <form>
                    <input type="submit" name="action" value="Salvesta">
                    <input type="submit" name="action" value="Loobu">
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()