Tee objekti liik:
    <form action="/objekt.html" method="POST">
        <label for="objekt_liik_id">Objekti_liik_id: </label> <input name ="objekt_liik_id" id ="objekt_liik_id">
    <label for="nimetus">Nimetus: </label><input name ="nimetus" id ="nimetus">
    <input type="submit" value="Submit" />
    </form>


