#htmlheaderStart()
<script type="text/javascript">
    $(document).ready(function(){

     $(".delete").click(function(e){
         e.preventDefault();
          var rel = $(this).attr("rel");
         $.ajax({
             type: 'DELETE',
             url: "piiririkkuja/"+rel+".html",
             success: function() {
                 window.location.replace("piiririkkuja.html");
             }
         });
     });
    });

</script>
#htmlheaderEnd()
#navigation(true)
        <div style="float:left;">
             #if($piiririkkuja.piiririkkuja_ID && $piiririkkuja.piiririkkuja_ID!=0)
                 #set($action = "piiririkkuja/"+$piiririkkuja.piiririkkuja_ID+".html")
             #else
                 #set($action = "piiririkkuja.html")
            #end
            <form action=$action method="POST" id="userdata">
                <div class="form_item">
                    <div class="form_title">#lang("personal_id")</div>
                    <div class="left"><input type="text" name ="isikukood" value="$!piiririkkuja.isikukood"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("firstname")</div>
                    <div class="left"><input type="text" name ="eesnimi" value="$!piiririkkuja.eesnimi"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("lastname")</div>
                    <div class="left"><input type="text" name ="perek_nimi" value="$!piiririkkuja.perek_nimi"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("date_of_birth")</div>
                    <div class="left"><input type="text" name ="synniaeg" id ="popupDatepicker" value='$valueHelper.convertDateString("$!piiririkkuja.avatud")' ></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("gender")</div>
                    <div class="left">
                        <select class="form_itm" name ="sugu">
                            <option name="m" #if($!piiririkkuja.sugu == "Mees") selected="true" #end >#lang("male")</option>
                            <option name="n" #if($!piiririkkuja.sugu == "Naine") selected="true" #end>#lang("female")</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("comments")</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="kommentaar">$!piiririkkuja.kommentaar</textarea></div>
                    <div class="clear"></div>
                </div>

                <input name ="objekt_ID" type="hidden" value="20">
                <input name ="nimetus" type="hidden" value="Nimeta Baar">
                <input name="piiririkkuja_ID" type="hidden" #if($!piiririkkuja.piiririkkuja_ID)value="$!piiririkkuja.piiririkkuja_ID" #else value="-1" #end >
                <input name="avaja" type="hidden" value="$!piiririkkuja.avaja">
                <input name="avatud" type="hidden" #if($!piiririkkuja.avatud) value='$valueHelper.convertDateString("$!piiririkkuja.avatud")' #else value="31/12/9999" #end  >
            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="kodakondsused">
                #lang("citizenships")
                <table>
                    <tr>
                        <th class="left">#lang("country")</th>
                        <th class="right">#lang("personal_id")</th>
                    </tr>
                    #foreach($k in $kodakondsus)
                    <tr>
                        <td class="left">EST</td>
                        <td class="right">
                            <div class="left">$k.isikukood</div>
                            <div class="right">
                                #set($href = "piiririkkuja/"+$k.piiririkkuja_ID.piiririkkuja_ID+".html")
                                <div class="left link"><a href=$href>#lang("edit")</a></div>
                                <div class="left link"><a class="delete" rel=$k.piiririkkuja_ID.piiririkkuja_ID href=$href>#lang("delete")</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr>

                    #end
                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                        <input type="button" onclick="document.forms['userdata'].submit();" value="#lang("add")">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <div class="left link"><a href="#" onclick="document.forms['userdata'].submit();">#lang("save")</a></div>
                <div class="left link"><a href="../piiririkkuja.html">#lang("cancel")</a></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()