
#if($fail == 1)
    FAIL!
#end

<form action="j_spring_security_check" method="post">

    <input type="text" name="j_username">
<input type="text" name="j_password">

    <input type="submit" value="Sub">

</form>
