#htmlheaderStart($url)
<script>
    $(document).ready(function(){

     $(".delete").click(function(e){
         e.preventDefault();
          var rel = $(this).attr("rel");
         $.ajax({
             type: 'DELETE',
             url: "/seaduse_punkti_redaktor/"+rel+".html",
             success: function() {
                 window.location.replace("/seaduse_punkti_redaktor.html");
             }
         });
     });
    });

</script>
#htmlheaderEnd()
#navigation(true $url)

            #if($seaduse_punkt.seaduse_punkt_ID && $seaduse_punkt.seaduse_punkt_ID !=0)
                 #set($action = $url+"/seaduse_punkti_redaktor/"+$seaduse_punkt.seaduse_punkt_ID+".html")
             #else
                 #set($action = $url+"/seaduse_punkti_redaktor.html")
            #end
        <div style="float:left;">
            <form action=$action method="POST" id="userdata">
                <div class="form_item">
                    <div class="form_title">#lang("paragraph")</div>
                    <div class="left"><input type="text" name ="paragrahv" value="$!seaduse_punkt.paragrahv"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("header")</div>
                    <div class="left"><input type="text" name ="pais" value="$!seaduse_punkt.pais"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("text")</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="tekst">$!seaduse_punkt.tekst</textarea></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("comments")</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="kommentaar">$!seaduse_punkt.kommentaar</textarea></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("valid_from")</div>
                    <div class="left"><input type="text" name ="kehtiv_alates" class="popupDatepicker" value="$!seaduse_punkt.kehtiv_alates"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("valid_to")</div>
                    <div class="left"><input type="text" name ="kehtiv_kuni" class="popupDatepicker" value="$!seaduse_punkt.kehtiv_kuni"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("section")</div>
                    <div class="left">
                        <select class="form_itm" name ="top">
                            <option name="m">Ebaseaduslikud toimingud</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>

                <input name ="seaduse_ID" type="hidden" value="160">
                <input name ="seaduse_punkt_ID" type="hidden" #if($!seaduse_punkt.seaduse_punkt_ID) value='$!seaduse_punkt.seaduse_punkt_ID' #else value="-1" #end  >

            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="alampunktid">
                #lang("subsection")
                <table>
                    <tr>
                        <th class="left">§</th>
                        <th class="right">#lang("header")</th>
                    </tr>
                    #foreach($punkt in $seaduse_punktid)
                    <tr>
                        <td class="left">$punkt.paragrahv</td>
                        <td class="right">
                            <div class="left">$punkt.pais</div>
                            <div class="right">
                                <form>
##                                    <input type="submit" name="action" value="Muuda">
                                    #set($href = $url+"/seaduse_punkti_redaktor/"+ $punkt.seaduse_punkt_ID+".html")
                                    <a href="$href">#lang("edit")</a>
                                 ## <input type="submit"  name="action" value="Kustuta">
                                    <a href="#" class="delete" rel=$punkt.seaduse_punkt_ID>#lang("delete")</a>
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    #end

                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                    <input type="button" onclick="document.forms['userdata'].submit();" value="#lang("add")">
                        </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <div class="left link"><a href="#" onclick="document.forms['userdata'].submit();">#lang("save")</a></div>
                <div class="left link"><a href="$url/../seaduse_punkti_redaktor.html">#lang("cancel")</a></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()