#htmlheader()
        <div style="float:left;">
            <form action="/seaduse_redaktor.html" method="POST" id="userdata">
                <div class="form_item">
                    <div class="form_title">Kood</div>
                    <div class="left"><input type="text" name ="kood" id ="kood"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Nimetus</div>
                    <div class="left"><input type="text" name ="nimetus" id ="nimetus"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Kommentaar</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="kommentaar" id ="komm"></textarea></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Kehtiv alates</div>
                    <div class="left"><input type="text" name ="kehtiv_alates" class="popupDatepicker"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Kehtiv kuni</div>
                    <div class="left"><input type="text" name ="kehtiv_kuni" class="popupDatepicker"></div>
                    <div class="clear"></div>
                </div>

                <input name ="objekt_ID" type="hidden" value="10">
                <input name ="nimetus" type="hidden" value="Nimeta Baar">
            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="punktid">
                Punktid
                <table>
                    <tr>
                        <th class="left">§</th>
                        <th class="right">Päis</th>
                    </tr>
                    <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 1</div>
                            <div class="right">
                                <form>
                                    <input type="submit" name="action" value="Muuda">
                                    <input type="submit" name="action" value="Kustuta">
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 2</div>
                            <div class="right">
                                <form>
                                    <input type="submit" name="action" value="Muuda">
                                    <input type="submit" name="action" value="Kustuta">
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                    <input type="button" onclick="document.forms['userdata'].submit();" value="Lisa">
                        </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <form>
                    <input type="submit" name="action" value="Salvesta">
                    <input type="submit" name="action" value="Loobu">
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()