#htmlheaderStart($url)
<script type="text/javascript">
    $(document).ready(function() {
        $("#refreshBtn").click(function(e) {
            e.preventDefault();
            var seaduseID = $("#lawSelect").val();
            console.log(seaduseID);

                 $.ajax({
                     type: 'GET',
                     dataType:'json',
                     data:{
                         name:seaduseID
                     },
             url: "$url/seaduse_ajalugu/"+seaduseID+".html",
             success: function(data) {
                 console.log("success");
                 console.log(data);
             },
              error: function(jqXHR, textStatus, errorThrown) {
                 console.log("errpr");
                 console.log(textStatus);
             }
         });


##
##            $.getJSON("$url/seaduse_ajalugu/" + seaduseID + ".html",
##                    { name: seaduseID
##                    }, function(data) {
##                        console.log("success");
##                        console.log(data);
##
##            });


        });
    });

</script>
#htmlheaderEnd()
#navigation(true $url)
<div>
    <form>
        <div class="ajaloo_filter">
            <div>#lang("from")</div>
            <div><input type="text" class="popupDatepicker" name="from" style="width: 100px;" /></div>
        </div>
        <div class="ajaloo_filter">
            <div>#lang("to")</div>
            <div><input type="text" class="popupDatepicker" name="to" style="width: 100px;" /></div>
        </div>
        <div class="ajaloo_filter">
            <div>#lang("law")</div>
            <div>
                <select id="lawSelect" name="seadus" class="form_itm">
                    <option>Relvaseadus</option>
                    #foreach($s in $seadused)
                    <option value="$s.seaduse_ID">$s.nimetus</option>
                    #end
                </select>
            </div>
        </div>
        <div class="ajaloo_filter">
            <div>&nbsp;</div>
            <div><input id="refreshBtn" type="submit" value="#lang("refresh")" /></div>
        </div>
        <div class="clear"></div>
    </form>
</div>
<div style="margin: 5px;">
    <table style="width: 499px">
        <tr>
            <th class="left_ajalugu">#lang("item")</th>
            <th class="left_ajalugu">#lang("from")</th>
            <th class="left_ajalugu">#lang("to")</th>
            <th class="right_ajalugu"></th>
        </tr>
        #foreach($seadus in $seadused)
        <tr>
            <td class="left">$seadus.nimetus</td>
            <td class="mid_ajalugu">$seadus.kehtiv_alates</td>
            <td class="mid_ajalugu">$seadus.kehtiv_kuni</td>
            <td class="right_ajalugu"><div class="link"><a href="$url/../seaduse_ajalugu.html">#lang("view")</a></div></td>
        </tr>
        #end
    </table>
</div>
#htmlfooter()