#htmlheaderStart()
#htmlheaderEnd()
#navigation(true)
<div>
    <form>
        <div class="ajaloo_filter">
            <div>#lang("from")</div>
            <div><input type="text" class="popupDatepicker" name="from" style="width: 100px;" /></div>
        </div>
        <div class="ajaloo_filter">
            <div>#lang("to")</div>
            <div><input type="text" class="popupDatepicker" name="to" style="width: 100px;" /></div>
        </div>
        <div class="ajaloo_filter">
            <div>#lang("law")</div>
            <div>
                <select name="seadus" class="form_itm">
                    <option>Relvaseadus</option>
                    #foreach($s in $seadused)
                    <option id="$s.seaduse_ID">$s.nimetus</option>
                    #end
                </select>
            </div>
        </div>
        <div class="ajaloo_filter">
            <div>&nbsp;</div>
            <div><input type="submit" value="Värskenda" /></div>
        </div>
        <div class="clear"></div>
    </form>
</div>
<div style="margin: 5px;">
    <table style="width: 499px">
        <tr>
            <th class="left_ajalugu">#lang("item")</th>
            <th class="left_ajalugu">#lang("from")</th>
            <th class="left_ajalugu">#lang("to")</th>
            <th class="right_ajalugu"></th>
        </tr>
        #foreach($seadus in $seadused)
        <tr>
            <td class="left">$seadus.nimetus</td>
            <td class="mid_ajalugu">$seadus.kehtiv_alates</td>
            <td class="mid_ajalugu">$seadus.kehtiv_kuni</td>
            <td class="right_ajalugu"><div class="link"><a href="../seaduse_ajalugu.html">#lang("view")</a></div></td>
        </tr>
        #end
    </table>
</div>
#htmlfooter()