#htmlheader()
        <div style="float:left;">
            <form action="/seaduse_punkti_redaktor.html" method="POST" id="userdata">
                <div style="padding: 7px;">
                    <div class="form_title"><label for="paragrahv">Paragrahv</label></div>
                    <div class="left"><input type="text" name ="paragrahv" id ="paragrahv"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="pais">Päis</label></div>
                    <div class="left"><input type="text" name ="pais" id ="pais"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="tekst">Tekst</label></div>
                    <div class="left"><textarea class="form_item" style="height: 80px;" name ="tekst" id ="tekst"></textarea></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="komm">Kommentaar</label></div>
                    <div class="left"><textarea class="form_item" style="height: 80px;" name ="kommentaar" id ="komm"></textarea></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="from">Kehtiv alates</label></div>
                    <div class="left"><input type="text" name ="from" id ="from"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="to">Kehtiv kuni</label></div>
                    <div class="left"><input type="text" name ="to" id ="to"></div>
                    <div class="clear"></div>
                </div>

                <div style="padding: 7px;">
                    <div class="form_title"><label for="top">Ülem punkt</label></div>
                    <div class="left">
                        <select class="form_item" name ="top" id ="top">
                            <option name="m">Ebaseaduslikud toimingud</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>

                <input name ="objekt_ID" type="hidden" value="10">
                <input name ="avaja" type="hidden" value="Jarko Kasemaa">
                <input name ="avatud" type="hidden" value="19/11/2011">
                <input name ="muutja" type="hidden" value="Marko Jasemaa">
                <input name ="muudetud" type="hidden" value="19/11/2011">
                <input name ="suletud" type="hidden" value="19/11/2011">
                <input name ="sulgeja" type="hidden" value="Ants Sulgurlihas">
                <input name ="nimetus" type="hidden" value="Nimeta Baar">
            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="alampunktid">
                Alampunktid
                <table class="piiririikuja1">
                    <tr>
                        <th class="left">§</th>
                        <th class="right">Päis</th>
                    </tr>
                    <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 8.1.2</div>
                            <div class="right">
                                <form>
                                    <input type="submit" name="action" value="Muuda">
                                    <input type="submit" name="action" value="Kustuta">
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 8.1.3</div>
                            <div class="right">
                                <form>
                                    <input type="submit" name="action" value="Muuda">
                                    <input type="submit" name="action" value="Kustuta">
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                    <input type="button" onclick="document.forms['userdata'].submit();" value="Lisa">
                        </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <form>
                    <input type="submit" name="action" value="Salvesta">
                    <input type="submit" name="action" value="Loobu">
                </form>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()