#htmlheaderStart($url)
#htmlheaderEnd()
#navigation(true $url)
        <div style="float:left;">
            <form action="$url/seaduse_redaktor.html" method="POST" id="userdata">
                <div class="form_item">
                    <div class="form_title">#lang("code")</div>
                    <div class="left"><input type="text" name ="kood"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("name")</div>
                    <div class="left"><input type="text" name ="nimetus"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("comments")</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="kommentaar"></textarea></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("valid_from")</div>
                    <div class="left"><input type="text" name ="kehtiv_alates" class="popupDatepicker"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">#lang("valid_to")</div>
                    <div class="left"><input type="text" name ="kehtiv_kuni" class="popupDatepicker"></div>
                    <div class="clear"></div>
                </div>

            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="punktid">
                #lang("item")
                <table>
                    <tr>
                        <th class="left">§</th>
                        <th class="right">#lang("header")</th>
                    </tr>
                    <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 1</div>
                            <div class="right">
                                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("edit")</a></div>
                                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("delete")</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 2</div>
                            <div class="right">
                                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("edit")</a></div>
                                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("delete")</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    #foreach($s in $seadused)
                     <tr>
                        <td class="left">8</td>
                        <td class="right">
                            <div class="left">Sigadus 2</div>
                            <div class="right">
                                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("edit")</a></div>
                                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("delete")</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    #end
                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                    <input type="button" onclick="document.forms['userdata'].submit();" value="#lang("add")">
                        </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("save")</a></div>
                <div class="left link"><a href="$url/../seaduse_redaktor.html">#lang("cancel")</a></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()