#htmlheaderStart()
<script>
    $(document).ready(function(){

     $(".delete").click(function(e){
         e.preventDefault();
          var rel = $(this).attr("rel");
         $.ajax({
             type: 'DELETE',
             url: "/seaduse_punkti_redaktor/"+rel+".html",
             success: function() {
                 window.location.replace("/seaduse_punkti_redaktor.html");
             }
         });
     });
    });

</script>
#htmlheaderEnd()
        <div style="float:left;">
            <form action="/seaduse_punkti_redaktor.html" method="POST" id="userdata">
                <div class="form_item">
                    <div class="form_title">Paragrahv</div>
                    <div class="left"><input type="text" name ="paragrahv" value="$!seaduse_punkt.paragrahv"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Päis</div>
                    <div class="left"><input type="text" name ="pais" value="$!seaduse_punkt.pais"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Tekst</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="tekst">$!seaduse_punkt.tekst</textarea></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Kommentaar</div>
                    <div class="left"><textarea class="form_itm" style="height: 80px;" name ="kommentaar">$!seaduse_punkt.kommentaar</textarea></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Kehtiv alates</div>
                    <div class="left"><input type="text" name ="kehtiv_alates" class="popupDatepicker" value="$!seaduse_punkt.kehtiv_alates"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Kehtiv kuni</div>
                    <div class="left"><input type="text" name ="kehtiv_kuni" class="popupDatepicker" value="$!seaduse_punkt.kehtiv_kuni"></div>
                    <div class="clear"></div>
                </div>

                <div class="form_item">
                    <div class="form_title">Ülem punkt</div>
                    <div class="left">
                        <select class="form_itm" name ="top">
                            <option name="m">Ebaseaduslikud toimingud</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>

                <input name ="seaduse_ID" type="hidden" value="160">

            </form>
        </div>
        <div style="float:left; padding: 10px;">
            <div class="alampunktid">
                Alampunktid
                <table>
                    <tr>
                        <th class="left">§</th>
                        <th class="right">Päis</th>
                    </tr>
                    #foreach($punkt in $seaduse_punktid)
                    <tr>
                        <td class="left">$punkt.paragrahv</td>
                        <td class="right">
                            <div class="left">$punkt.pais</div>
                            <div class="right">
                                <form>
##                                    <input type="submit" name="action" value="Muuda">
                                    #set($href ="/seaduse_punkti_redaktor/"+ $punkt.seaduse_punkt_ID+".html")
                                    <a href="$href">Muuda</a>
                                 ## <input type="submit"  name="action" value="Kustuta">
                                    <a href="#" class="delete" rel=$punkt.seaduse_punkt_ID>Kustuta</a>
                                </form>
                            </div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    #end

                </table>
                <div class="right" style="margin: 4px;">
                    <form>
                    <input type="button" onclick="document.forms['userdata'].submit();" value="Lisa">
                        </form>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <div class="left link"><a onclick="document.forms['userdata'].submit();">Salvesta</a></div>
                <div class="left link"><a href="../seaduse_punkti_redaktor.html">Loobu</a></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
#htmlfooter()