<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
">

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>
    <security:http auto-config="true">
        <security:intercept-url pattern="**" access="ROLE_USER"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="Aiwei7ya" authorities="ROLE_USER, ROLE_ADMIN"/>
                <security:user name="valvur" password="valvur" authorities="ROLE_USER"/>
                <security:user name="ylem" password="ylem" authorities="ROLE_USER"/>
                <security:user name="t" password="t" authorities="ROLE_USER"/>

            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>


    <context:property-placeholder location="/META-INF/main.properties"/>

    <context:component-scan
            base-package="ee.project"/>

    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
    <mvc:resources mapping="/res/**" location="/res/"/>


    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">

        <property name="resourceLoaderPath" value="/WEB-INF/velocity/"/>

        <property name="velocityProperties">
            <props>
                <prop key="velocimacro.library">/base_macro.vm</prop>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
            </props>
        </property>
    </bean>
    <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
      <property name="basenames" value="/WEB-INF/velocity/messages/messages" />
        <property name="defaultEncoding" value="UTF-8" />
</bean>
<!--<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">-->
<!--<property name="paramName"><value>locale</value></property>-->
<!--</bean>-->
<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
<property name="defaultLocale" value="et" />
</bean>

     <mvc:interceptors>
    <bean id="localeChangeInterceptor"
        class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="lang"/>
    </bean>
    </mvc:interceptors>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".vm"/>
        <property name="contentType" value="text/html;charset=UTF-8"  />
        <!--<property name="attributes">-->
        <!--<props>-->
            <!--<prop key="converter">ee.project.ValueHelper</prop>-->
        <!--</props>-->
         <!--</property>-->
          <property name="attributesMap">
           <map>
             <entry key="valueHelper">
               <bean class="ee.project.ValueHelper"/>
             </entry>
           </map>
         </property>

        <!-- if you want to use the Spring Velocity macros, set this property to true -->
        <property name="exposeSpringMacroHelpers" value="true"/>

    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <!--<property name="url" value="jdbc:hsqldb:file:/home/taivo/db/testdb;shutdown=true"/>-->
        <property name="url" value="${database.url}"/>

        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>ee.project.data.Testtable</value>
                <value>ee.project.data.Objekti_liik</value>
                <value>ee.project.data.Objekt</value>
                <value>ee.project.data.Piiririkkuja</value>
                <value>ee.project.data.Riik</value>
                <value>ee.project.data.Kodakondsus</value>
                <value>ee.project.data.Seadus</value>
                <value>ee.project.data.Seaduse_punkt</value>
            </list>

        </property>
        <property name="entityInterceptor" ref="entityInterceptor"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">validate</prop>-->
            </props>
        </property>
        <property name="packagesToScan" value="ee.project.dao"/>
    </bean>

    <bean id="entityInterceptor" class="ee.project.MyEntityInterceptor"/>

    <tx:annotation-driven/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="mySessionFactory"/>
        </property>
    </bean>

    <bean id="myDAO" class="ee.project.dao.MainDAOImpl">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>


</beans>