html{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-family: "Comic Sans MS";
    font-size: 12px;
}
img{
    border: 0px;
}
div.navigation{
    border-top: 1px solid #CCC;
}
div.clear{
    clear:both;
}
div.left{
    float:left;
}
div.right{
    float:right;
}
div.form_title{
    float:left;
    width: 120px;
}
input[type="text"], input[type="password"], .form_itm{
    width: 180px;
    border: 1px solid #000;
    font-family: "Comic Sans MS";
}
input[type="submit"], input[type="button"]{
    background-color: #CCCCCC;
    border: 1px solid #000;
    margin: 0px;
    font-family: "Comic Sans MS";
}
table{
    border-collapse: collapse;
    border-spacing: 0px;
}
div.form_item{
    padding: 7px;
}
th.left{
    background-color: #CCCCCC;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3px;
    width: 90px;
    text-align: left;
}
th.right{
    background-color: #CCCCCC;
    border: 1px solid #000;
    padding: 3px;
    width: 220px;
    text-align: left;
}
td.left{
    border-left:  1px solid #000;
    border-bottom: 1px solid #000;
}
td.right{
    border-left:  1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
div.bottom{
    position: relative;
    float: right;
}
div.kodakondsused{
    min-height: 239px;
}
div.alampunktid{
    min-height: 337px;
}
div.punktid{
    min-height: 203px;
}
div.ajaloo_filter{
    float: left;
    margin: 5px;
}

th.left_ajalugu{
    background-color: #CCCCCC;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3px;
    text-align: left;
}
th.right_ajalugu{
    background-color: #CCCCCC;
    border: 1px solid #000;
    padding: 3px;
    width: 70px;
    text-align: left;
}
td.mid_ajalugu{
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3px;
    width: 70px;
    text-align: center;
}
td.right_ajalugu{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3px;
    text-align: center;
}
a, a:hover, a:visited{
    color: #000;
}
div.link{
    border: 1px solid #000;
    background-color: #CCCCCC;
    height: 20px;
    margin: 1px;
    padding-left: 8px;
    padding-right: 8px;
}
div.fail{
    color: #FF0000;
    font-size: 14px;
}